@page "/exercise"

<PageTitle>Exercise</PageTitle>

<h3>Exercise</h3>













<!--
<div>
    <BlazorApp1.Components.Pages.Components.Tabs1 />
</div>

<br />

    <div class="panel panel-default">
        <div class="panel-body">
            <InputForm1 />
        </div>
    </div>
-->

<!--
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <BlazorApp1.Components.Pages.Components.Tabs1 />
        </div>
        <div class="panel-body">
            <div>
				<InputForm1 />
                <div class="container">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            انتخاب کنید ...
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="disabled"><a href="#">انتخاب کنید</a></li>
                            <li class="divider"></li>
                            <li><a href="#">گزینه اول</a></li>
                            <li class="divider"></li>
                            <li><a href="#">گزینه دوم</a></li>
                            <li class="divider"></li>
                            <li><a href="#">گزینه سوم</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
-->





<!-- <BlazorApp1.Components.Pages.Components.DropDown1 /> -->
