
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="sel1">گروه</label>
				<select class="form-control" id="sel1">
					<option>
						انتخاب کنید
					</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
				<!--
				<label for="MySerach">جست و جو</label>
				<input type="search" class="form-control" id="MySerach" placeholder="متن زمینه دوم" name="MySerach">
				-->
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="fname">نام کاربری :</label>
				<input type="text" class="form-control" id="fname" placeholder="متن زمینه اول" name="fname">
			</div>
		</div>
	</div>
	<br />
	<div class="container">
		<div class="col-md-1">
			<button type="button" class="btn btn-info">
				<span class="glyphicon glyphicon-list"></span> نمایش همه
			</button>
		</div>
		<div class="col-md-1">
			<button type="button" class="btn btn-info">
				<span class="glyphicon glyphicon-search"></span> جست و جو
			</button>
		</div>
	</div>
</div>


